.Container {
  height: 350px;
  width: 313px;
  margin-left: 60px;
  margin-bottom: 60px;
  background-color: #bba8af;
    padding: 20px;
    border: 20px;
    border-radius: 14px;
    text-decoration: none;
}

.image {
  max-width: 100%;
  max-height: 100%;
}
.imageContainer {
  height: 157px;
    width: 311px;
}
.btn{
  padding: 5px;
  border: 1px solid #ffdb6d;
  background-color: #745b64;
  border-radius: 8px;
  width: 166px;
  margin-top: 55px;
  margin-left: 142px;
  height: 45px;
  color: rgb(234, 236, 238);
}