.container {
  background-color: rgb(218, 228, 232);
}

.title {
  font-family: 'Times New Roman', Times, Serif;
  background-color: slategrey;
}

.container_title {
  background-color: rgb(218, 228, 232);
}

.image {
  width: 100%;
  border-radius: 10px;
  box-shadow: 3px 10px 20px -5px;
}

.paraph{
  font-family: 'Times New Roman', Times, Serif;
}

.details {
  font-size: 22px; 
}
.Act {
  font-family: 'Times New Roman', Times, serif;
  font-size: 46px;
}
.act {
  font-size: 25px;
}
.activities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.flexContainer {
  display: flex;
  flex-direction: row;
  grid-column-gap: 3rem;
  column-gap: 3rem;
  padding: 1rem;
}

.detailsContainer {
  flex: 50% 1;
  text-align: initial;
  background-color: slategray;
  border: 10px solid transparent;
  border-image: linear-gradient(to right, slategray, #a8aab9 100%) 1;
}

.imageContainer {
  flex: 50%;
}
.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
             inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
